<main class="m-4">

    <div class="m-3">
        <h1>{{name}}</h1>
    </div>

    <div class="my-3">
        <b>{{birthdate}} </b>
        <address>{{birthplace}}</address>

        <b>{{deathdate}}</b>
        <address>{{deathplace}}</address>
    </div>

    <div>
        {{nationality}}
    </div>

    <hr class="my-3">
    <div class="">
        <div class=""> <b> Occupation: </b> </div>

        <div> <em>{{occupation}}</em> </div>
        <div>
            {{#each known_for}}
            <ul class="">
                <li class="">
                    {{this}}
                </li>
            </ul>
            {{/each}}
        </div>
    </div>


    <hr class="my-3">

    <div> <b> Education: </b> </div>

    <div>
        {{#each education}}
        <ul>
            <li>
                <div> <b>{{institution}}</b> ({{year}}) </div>
                <div> {{field}}</div>
                <div> {{degree}}</div>
            </li>
        </ul>
        {{/each}}
    </div>

    <hr class="my-3">

    <div> <b> Notable_publications: </b> </div>

    <div>
        {{#each notable_publications}}
        <ul>
            <li>
                <div> <cite>{{title}}</cite>. {{publisher}}. ({{year}}) </div>

            </li>
        </ul>
        {{/each}}
    </div>

    <hr class="my-3">

    <div> <b> Partners: </b> </div>

    <div>
        {{#each partners}}
        <ul>
            <li>
                <div> <b> {{name}}</b>. {{relationship}}. ({{years}}) </div>

            </li>
        </ul>
        {{/each}}
    </div>

    <hr class="my-3">

    <div> <b> Awards: </b> </div>

    <div>
        {{#each awards}}
        <ul>
            <li>
                <div> <em> {{title}}</em> ({{year}}) </div>
                <div> {{description}} </div>

            </li>
        </ul>
        {{/each}}
    </div>

    <hr class="my-3">

    <div> <b> Influential personalities: </b> </div>

    <div>
        {{#each influences}}
        <ul>
            <li>
                {{this}}
            </li>
        </ul>
        {{/each}}
    </div>

    <hr class="my-3">

    <div> <b> Influenced: </b> </div>

    <div>
        {{#each influenced}}
        <ul>
            <li>
                {{this}}

            </li>
        </ul>
        {{/each}}
    </div>

    <hr class="my-3">

    <div> <b> Quotes: </b> </div>

    <div>
        {{#each quotes}}
        <ul>
            <li>
                <q> {{this}} </q>
            </li>
        </ul>
        {{/each}}
    </div>


    <hr class="my-3">

    <div> <b> Major_discoveries: </b> </div>

    <div>
        {{#each major_discoveries}}
        <ul>
            <li>
                <div> <cite> {{title}} </cite> ({{year}})</div>
                <div> {{description}} </div>
            </li>
        </ul>
        {{/each}}
    </div>


    <hr class="my-3">

    <div> <b> Contributions: </b> </div>

    <div>
        {{#with contributions}}
        <ul>
            <li>
                <div> <cite> {{title}} </cite> ({{year}})</div>
                <div> {{field}} </div>
                <div> {{description}} </div>
            </li>
        </ul>
        {{/with}}
    </div>
</main>