<div>
    <h1>{{name}}</h1>
</div>
<div> <span>users: </span> </div>

{{#each users}}

<ul>

    <hr class="my-3">
    <li>

        <div>id: {{id}} </div>
        <div> <span class="badge rounded-pill text-bg-dark">{{name}}</span> ({{age}})</div>
        <div class="mb-3"> {{gender}} </div>

        <div> <span class="badge rounded-pill text-bg-info">friends:</span> </div>
        {{#each friends}}
        <ul>
            <li class="mb-3">

                <div>id: {{id}} </div>
                <div> <span class="badge rounded-pill text-bg-light">{{name}}</span> ({{age}})</div>
                <div> {{gender}} </div>

                <div><b> mutual_friends:</b> </div>
                {{#each mutual_friends}}
                <ul class="mb-3">
                    <li>
                        <div>id: {{id}} </div>
                        <div> {{name}} ({{age}})</div>
                        <div> {{gender}} </div>
                    </li>
                </ul>
                {{/each}}

                <div> <span class="badge rounded-pill text-bg-info">groups:</span> </div>
                {{#each groups}}
                <ul class="mb-3">
                    <li class="mb-3">
                        <div> id: {{id}} </div>
                        <div> {{name}} </div>
                        <div> {{description}} </div>

                        {{#each members}}
                        <ul class="mb-3">
                            <li>
                                <div>id: {{id}} </div>
                                <div> {{name}} ({{age}})</div>
                                <div> {{gender}} </div>
                            </li>
                        </ul>
                        {{/each}}

                    </li>
                </ul>
                {{/each}}


            </li>
        </ul>
        {{/each}}

        <div> <span class="badge rounded-pill text-bg-info">groups:</span> </div>
        {{#each groups}}
        <ul class="mb-3">
            <li class="mb-3">
                <div> id: {{id}} </div>
                <div> {{name}} </div>
                <div> {{description}} </div>

                {{#each members}}
                <ul class="mb-3">
                    <li>
                        <div>id: {{id}} </div>
                        <div> {{name}} ({{age}})</div>
                        <div> {{gender}} </div>
                    </li>
                </ul>
                {{/each}}

            </li>
        </ul>
        {{/each}}
    </li>
</ul>
{{/each}}