<div>
    <h1> {{name}} </h1>
</div>

<div> {{description}} </div>
{{#with history}}
<ul>
    <div> {{founder}} {{year}} </div>
</ul>
{{/with}}


<br>
<div><span class="badge text-bg-info">types</span></div>
{{#each types}}

<ul>
    <li>
        {{this}}
    </li>
</ul>
{{/each}}

<div><span class="badge text-bg-info">syntax</span></div>
{{#with syntax}}
<ul>
        <br>
        <div>variables</div>
        {{#each variables}}
        <ul>
            <li>
                {{this}}
            </li>
        </ul>
        {{/each}}

        <br>
        <div>functions</div>
        {{#each functions}}
        <ul>
            <li>
                {{this}}
            </li>
        </ul>
        {{/each}}

        <br>
        <div>conditionals</div>
        {{#each conditionals}}
        <ul>
            <li>
                {{this}}
            </li>
        </ul>
        {{/each}}

        <br>
        <div>loops</div>
        {{#each loops}}
        <ul>
            <li>
                {{this}}
            </li>
        </ul>
        {{/each}}

        <br>
        <div>classes</div>
        {{#each classes}}
        <ul>
            <li>
                {{this}}
            </li>
        </ul>
        {{/each}}
</ul>
{{/with}}

<br>
<div><span class="badge text-bg-info">features</span></div>
{{#each features}}

<ul>
    <li>
        {{this}}
    </li>
</ul>
{{/each}}

<br>
<div><span class="badge text-bg-info">libraries</span></div>
{{#each libraries}}

<ul>
    <li>
        {{this}}
    </li>
</ul>
{{/each}}

<br>
<div><span class="badge text-bg-info">tools</span></div>
{{#each tools}}

<ul>
    <li>
        {{this}}
    </li>
</ul>
{{/each}}

<br>
<div><span class="badge text-bg-info">community</span></div>
{{#each community}}

<ul>
    <li>
        {{name}} ({{type}}) 
    </li>
</ul>
{{/each}}