<div>
    <h1> {{name}} </h1>
</div>
<div> {{description}} </div>
<br>
<div>price: {{price}}</div>
<br>
<div>category: {{category}}</div>
<br>
<div><b>features:</b> </div>
{{#with features}}
<ul>
    <br>
    <hr>
    <li>
        <span class="badge rounded-pill text-bg-dark">processor:</span>

        {{#with processor}}
        <ul>
            <li>
                <div> brand: <span class="badge rounded-pill text-bg-light">{{brand}}</span> </div>
            </li>
            <li>
                <div> model: <span class="badge rounded-pill text-bg-light">{{model}}</span> </div>
            </li>
            <li>
                <div> speed: <span class="badge rounded-pill text-bg-light">{{speed}}</span> </div>
            </li>
            <li>
                <div> cores: <span class="badge rounded-pill text-bg-light">{{cores}}</span> </div>
            </li>
            <li>
                <div> cache: <span class="badge rounded-pill text-bg-light">{{cache}}</span> </div>
            </li>
        </ul>
        {{/with}}
    </li>
    <br>
    <hr>
    <li>
        <span class="badge rounded-pill text-bg-dark">memory:</span>

        {{#with memory}}
        <ul>
            <li>
                <div> type: <span class="badge rounded-pill text-bg-light">{{type}}</span> </div>
            </li>
            <li>
                <div> size: <span class="badge rounded-pill text-bg-light">{{size}}</span> </div>
            </li>
            <li>
                <div> speed: <span class="badge rounded-pill text-bg-light">{{speed}}</span> </div>
            </li>

        </ul>
        {{/with}}
    </li>
    <br>
    <hr>
    <li>
        <span class="badge rounded-pill text-bg-dark">storage:</span>

        {{#with storage}}
        <ul>
            <li>
                <div> type: <span class="badge rounded-pill text-bg-light">{{type}}</span> </div>
            </li>
            <li>
                <div> size: <span class="badge rounded-pill text-bg-light">{{size}}</span> </div>
            </li>


        </ul>
        {{/with}}
    </li>
    <br>
    <hr>
    <li>
        <span class="badge rounded-pill text-bg-dark">display:</span>

        {{#with display}}
        <ul>
            <li>
                <div> size: <span class="badge rounded-pill text-bg-light">{{size}}</span> </div>
            </li>
            <li>
                <div> resolution: <span class="badge rounded-pill text-bg-light">{{resolution}}</span> </div>
            </li>
            <li>
                <div> technology: <span class="badge rounded-pill text-bg-light">{{technology}}</span> </div>
            </li>
            <li>
                <div> color_space: <span class="badge rounded-pill text-bg-light">{{color_space}}</span> </div>
            </li>
            <li>
                <div> brightness: <span class="badge rounded-pill text-bg-light">{{brightness}}</span> </div>
            </li>
            <li>
                <div> refresh_rate: <span class="badge rounded-pill text-bg-light">{{refresh_rate}}</span> </div>
            </li>


        </ul>
        {{/with}}
    </li>
    <br>
    <hr>
    <li>
        <span class="badge rounded-pill text-bg-dark">graphics:</span>

        {{#with graphics}}
        <ul>
            <li>
                <div> brand: <span class="badge rounded-pill text-bg-light">{{brand}}</span> </div>
            </li>
            <li>
                <div> model: <span class="badge rounded-pill text-bg-light">{{model}}</span> </div>
            </li>
            <li>
                <div> memory: <span class="badge rounded-pill text-bg-light">{{memory}}</span> </div>
            </li>
        </ul>
        {{/with}}
    </li>
    <br>
    <hr>
    <li>
        <span class="badge rounded-pill text-bg-dark">ports:</span>

        {{#each ports}}
        <ul>
            <li>
                <div> type: <span class="badge rounded-pill text-bg-light">{{type}}</span> </div>

                <div> count: <span class="badge rounded-pill text-bg-light">{{count}}</span> </div>


                {{#each features}}
                <ul>
                    <li>
                        {{this}}
                    </li>
                </ul>
                {{/each}}


            </li>
        </ul>
        {{/each}}
    </li>
    <br>
    <hr>
    <li>
        <span class="badge rounded-pill text-bg-dark">battery:</span>

        {{#with battery}}
        <ul>
            <li>
                <div> type: <span class="badge rounded-pill text-bg-light">{{type}}</span> </div>
            </li>
            <li>
                <div> capacity: <span class="badge rounded-pill text-bg-light">{{capacity}}</span> </div>
            </li>
            <li>
                <div> life: <span class="badge rounded-pill text-bg-light">{{life}}</span> </div>
            </li>
        </ul>
        {{/with}}
    </li>
    <br>
    <hr>
    <li>
        <div></div><span class="badge rounded-pill text-bg-dark">weight:</span>
        <span class="badge rounded-pill text-bg-light">{{weight}}</span> </div>
    </li>
    <br>
    <hr>
    <li>
        <span class="badge rounded-pill text-bg-dark">dimensions:</span>

        {{#with dimensions}}
        <ul>
            <li>
                <div> height: <span class="badge rounded-pill text-bg-light">{{height}}</span> </div>
            </li>
            <li>
                <div> width: <span class="badge rounded-pill text-bg-light">{{width}}</span> </div>
            </li>
            <li>
                <div> depth: <span class="badge rounded-pill text-bg-light">{{depth}}</span> </div>
            </li>
        </ul>
        {{/with}}
    </li>
    <br>
    <hr>
    <li>
        <div></div><span class="badge rounded-pill text-bg-dark">operating_system:</span>
        <span class="badge rounded-pill text-bg-light">{{operating_system}}</span> </div>
    </li>
    <br>
    <hr>
    <li>
        <span class="badge rounded-pill text-bg-dark">accessories:</span>

        {{#each accessories}}
        <ul>
            <li>
                <div> {{name}}: <span class="badge rounded-pill text-bg-light">price: {{price}}</span> </div>
            </li>

        </ul>
        {{/each}}
    </li>
    <br>
    <hr>
</ul>
{{/with}}