<div class="m-4">
    {{#with person}}
    <section class="my-3">
        <h1> {{name}} </h1>
        <div class="my-2">
            <b>Age: {{age}}</b>
        </div>

        <div class="my-2">
            Sex: {{gender}}
        </div>

        <div class="my-2">
            {{#with address}}
            <address> {{country}} {{zip}} {{state}}

                {{city}} {{street}}
            </address>
            {{/with}}
        </div>
    </section>

    <hr class="my-3">
    <section class="my-3">
        {{> title data="Education" }}
        {{#each education}}
        <ul>
            <li>
                {{university}} {{graduationYear}}

                {{major}}

                {{degree}}
            </li>
        </ul>
        {{/each}}
    </section>

    <hr class="my-3">
    <section class="my-3">
        {{> title data="Work experience" }}
        {{#each workExperience}}
        <ul>
            <li>
                <div class="my-2">
                    <em>{{title}}</em>
                </div>

                <div class="my-2">
                    {{startDate}} -
                    {{#if endDate}} {{endDate }} {{else}} (досі працюємо) {{/if}}
                </div>

                <div class="my-2">
                    {{#each responsibilities}}
                    <ul>
                        <li>
                            {{this}}
                        </li>
                    </ul>
                    {{/each}}
                </div>

                <div class="my-2">
                    <b> {{company}} {{industry}} </b> ({{year_founded}})
                </div>

                <div class="my-2">
                    Employees
                </div>

                <div class="my-2">
                    {{#each employees}}
                    <ul>
                        <li>
                            <div class="my-2"> <b> {{name}} </b> </div>
                            <div class="my-2"> {{position}} </div>
                            <div class="my-2"> {{department}} </div>

                            <div class="my-2"> <b>Projects:</b> </div>

                            <div class="my-2">
                                {{#each projects}}
                                <ul>
                                    <li>
                                        <div class="my-2"> <b> {{name}} </b> ({{status}}) </div>

                                        <div class="my-2"> {{description}} </div>

                                        <div class="my-2"> <b> Teams: </b></div>

                                        {{#each teams}}
                                        <ul>
                                            <li>
                                                <div class="my-2"> <b> {{team_name}} </b> </div>

                                                <div class="my-2"> <b> Team leader </b> </div>

                                                {{#with team_leader}}
                                                <ul>
                                                    <li>
                                                        <div class="my-2"> {{name}} </div>
                                                        <div class="my-2"> {{title}} </div>
                                                        <div class="my-2"> {{email}} </div>
                                                    </li>
                                                </ul>
                                                {{/with}}

                                                <div class="my-2"> <b> Team members </b> </div>
                                                {{#each team_members}}

                                                <ul>
                                                    <li>
                                                        <div class="my-2"> {{name}} </div>
                                                        <div class="my-2"> {{title}} </div>
                                                        <div class="my-2"> {{email}} </div>

                                                        <div class="my-2"> <b> Skills: </b> </div>
                                                        {{#each skills}}
                                                        <ul>
                                                            <li>
                                                                {{this}}
                                                            </li>
                                                        </ul>
                                                        {{/each}}

                                                        <div class="my-2"> <b>Projects:</b> </div>

                                                        {{#each projects}}
                                                        <ul>
                                                            <li>
                                                                <div class="my-2"> <b> {{name}} </b> </div>

                                                                <div class="my-2"> {{description}} </div>

                                                                <div class="my-2"> <b> Technologies: </b> </div>
                                                                <div class="my-2">
                                                                    {{#each technologies}}
                                                                    <ul>
                                                                        <li>
                                                                            {{this}}
                                                                        </li>
                                                                    </ul>
                                                                    {{/each}}
                                                                </div>

                                                                <div class="my-2"> <b> Team members </b> </div>

                                                                {{#each team_members}}
                                                                <ul>
                                                                    <li>
                                                                        <div class="my-2"> {{name}} </div>
                                                                        <div class="my-2"> {{title}} </div>

                                                                    </li>
                                                                </ul>
                                                                {{/each}}

                                                            </li>
                                                        </ul>


                                                        {{/each}}


                                                    </li>
                                                </ul>
                                                {{/each}}
                                            </li>
                                        </ul>


                                        {{/each}}

                                    </li>
                                </ul>
                                {{/each}}
                            </div>
                        </li>
                    </ul>
                    {{/each}}
                </div>


            </li>
        </ul>
        {{/each}}
    </section>

    <hr class="my-3">
    {{/with}}



</div>