<div class="m-4">
    <div>
        <h1>Program</h1>
    </div>
    {{#with program}}
    <ul>
        <li>
            <div class="my-2">
                <div class="my-2"><b>Excursion</b></div>

                {{#with excursion}}
                <ul>
                    <li>
                        <div class="my-2"> {{name}} ({{date}}) </div>
                        {{#with location}}
                        <ul>
                            <li>
                                <div class="my-2">
                                    <address> {{city}} {{country}} </address>
                                </div>
                            </li>
                        </ul>
                        {{/with}}

                        <div class="my-2">{{#each program}}

                            <hr>

                            <ul>
                                <li>
                                    <div class="my-2 badge text-bg-info"> {{name}} </div>
                                    <div class="my-2"> type ({{type}}) </div>
                                    <div class="my-2"> duration ({{duration}}) </div>

                                    {{#with details}}
                                    <ul>

                                        {{#with museum}}
                                        <ul>
                                            <li>
                                                <div class="my-2"> {{name}} </div>
                                                {{#with location}}

                                                <div class="my-2">
                                                    <address> {{address}} {{city}} {{country}} </address>
                                                </div>

                                                {{/with}}

                                                <div class="my-2"> <b>Exhibitions:</b> </div>

                                                {{#each exhibits}}
                                                <ul>
                                                    <li>
                                                        <div class="my-2"> {{name}} </div>
                                                        <div class="my-2"> {{artist}} </div>
                                                        <div class="my-2"> {{description}} </div>
                                                        <div class="my-2"> {{#if audio_guide}}Audioguide {{/if}} </div>
                                                    </li>

                                                </ul>
                                                {{/each}}


                                            </li>
                                        </ul>
                                        {{/with}}

                                        {{#with venue }}
                                        <ul>
                                            <li>
                                                <div class="my-2"> {{name}} </div>
                                                <div class="my-2">
                                                    {{#with location}}
                                                    <div class="my-2">
                                                        <address> {{address}} {{city}} {{country}} </address>
                                                    </div>
                                                    {{/with}}
                                                </div>
                                            </li>
                                        </ul>
                                        {{/with}}


                                        {{#each performers}}
                                        <ul>
                                            <li>
                                                <div class="my-2"> {{name}} </div>
                                                <div class="my-2"> {{type}} </div>
                                            </li>

                                        </ul>
                                        {{/each}}


                                        <div class="my-2"><b>Guide</b></div>
                                        {{#with guide}}
                                        <ul>
                                            <li>
                                                <div class="my-2"> {{name}} </div>
                                                <div class="my-2"> {{language}} </div>
                                                <div class="my-2"> {{rating}} </div>
                                            </li>
                                        </ul>
                                        {{/with}}




                                    </ul>
                                    {{/with}}

                                </li>

                            </ul>
                            {{/each}}
                        </div>






                    </li>
                </ul>
                {{/with}}

            </div>
        </li>
    </ul>

    {{/with}}
</div>