{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <header>
        <div>
            <h1>{{name.firstname}} {{name.lastname}} | Resume</h1>
        </div>
        <div>
            <b>{{position}}</b>
        </div>
        <br>
        <div>
            <em>{{salary}} per month</em>
        </div>
        <br>
        <hr>
    </header>

    <main>
        <section>
            {{>title data=summary.title }}
            <div>
                <p>
                    {{summary.text}}
                </p>
            </div>
        </section>

        <section>
            {{>title data=experience.title}}
            <div>
                <p>
                    {{experience.text}}
                </p>
            </div>
        </section>
    </main>

    <footer>
        <hr>
        <br>
        <a href="mailto:dmytro@mail.com">dmytro@mail.com</a> /
        <a href="tel:+380670000123">+380670000123</a> /
        <a href="https://www.linkedin.com/in/dmytro-test" target="_blank">LinkedIn</a>
    </footer>

</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}