<main>
    <div>
        {{#with navigation}}

        {{#each links}}

        <a href="{{href}}" class="btn btn-link col-2"> {{text}} </a>

        {{/each}}
        {{#with button}}
        <a href="{{href}}" class="btn btn-primary col-2"> {{text}} </a>
        {{/with}}

        {{/with}}
    </div>

    </div>
    <hr>
    <div>
        {{#with header}}
        <h1> {{title}} </h1>
        <p> {{description}} </p>
        {{#with button}}
        <a href="{{link}}" class="btn btn-primary col-2 "> {{text}} </a>

        {{/with}}

        {{/with}}
    </div>
    <hr>
    <div class="row g-5">
        {{#with city}}
        <h2> {{title}} </h2>
        {{#each cards}}


        {{#with picture}}
        <div class="card col-5 ">
            <img class="card-img-top" src="{{src}}" alt="{{alt}}">

            {{/with}}
            <div class="card-body">
                <h5 class="card-title"> {{title}} </h5>
                <p> {{description}} </p>
                {{#with button}}
                <a href="{{href}}" class="btn btn-primary"> {{text}} </a>

                {{/with}}
            </div>
        </div>
        {{/each}}
    </div>

    {{/with}}
    <hr>
    {{#with winner}}
    <h2>
        {{title}}
    </h2>
    <table class="table">
        <thead>
            <tr>
                {{#with table }}
                {{#each head}}

                <th>
                    {{this}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each user}}
            <tr>
                <th class=""> {{place}} </th>
                <td class=""> {{name}} </td>
                <td> {{surname}} </td>
                <td> {{nickname}} </td>
            </tr>
            {{/each}}
        </tbody>
        {{/with}}

        {{/with}}
    </table>
    <hr>

    {{#with gallery}}
    <H2> {{title}} </H2>
    <div class="row g-3">
        {{#each cards}}

        <div class="card col-4">
            <div class="card body">
                <div class="card-header">
                    {{name}}
                </div>
                <ul class="list-group">
                    {{#each items}}
                    <li class="list-group-item"> {{this}} </li>
                    {{/each}}


                </ul>

            </div>
        </div>


        {{/each}}
    </div>

    {{/with}}
    <hr>
    {{#with relaxion}}
    <div class="display-3"> {{title}} </div>

    <div class="row g-3 ">
        {{#each cards}}

        <div class="card col-5 ">
            <div class="card-body text-bg-secondary">
                <div class="card-header">
                    {{header}}
                </div>
                <h5> {{title}} </h5>
                <div> {{description}} </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/with}}
    <hr>
    <div class="row text-center g-3">

        {{#with rest}}
        {{#each cards}}
        <div class="card col-6">
            <div class="card-body">
                <div class="card-header">
                    {{header}}
                </div>
                <h5 class="card-title"> {{title}} </h5>
                <div> {{description}} </div>
                <button class="btn btn-primary"> {{button}} </button>
                <div class="card-footer"> {{footer}} </div>
            </div>

        </div>
        {{/each}}
        {{/with}}
    </div>
    <hr>
    {{#with proposition}}
    <div class="display-2"> {{title}} </div>

    <div class="row g-3 ">
        {{#each card}}

        <div class="card col-5 ">
            <div class="card-body text-bg-warning">
                <div class="card-header">
                    {{header}}
                </div>
                <h5> {{title}} </h5>
                <div> {{description}} </div>



            </div>
        </div>
        {{/each}}
    </div>
    {{/with}}
    <hr>

    {{#with footer }}
    <h2> {{title}} </h2>
    <div class="row g-3">
        <div class="col-3">
            {{#each navigation}}
            <div class="">
                <a class="btn btn-link" href="{{href}}"> {{text}} </a>
            </div>
            {{/each}}
        </div>

        <div class="col-3">
            {{#each socialMedia}}
            <div class="">
                <a class="btn btn-outline-dark" href="{{link}}"> {{name}} </a>
            </div>
            {{/each}}
        </div>

        <div class="col-6">
            {{#each partners}}
            <div class="">
                <a class="btn btn-link" href="{{link}}"> {{name}} </a>
            </div>
            {{/each}}
        </div>


    </div>
    {{/with}}








</main>