<h1>Web</h1>
<div class="my-2">
    {{#with web}}
    <div class="my-2"><b>Langues:</b></div>
    {{#each languages}}
    <ul>
        <li>
            <div class="badge text-bg-info"> <b>{{name}}</b> </div>
            <div class="my-2"> version {{version}} </div>
            <div class="my-2"> {{description}} </div>

            {{#each elements}}
            <ul>
                <li>
                    <div class="my-2 badge text-bg-secondary"> <b>{{name}}</b> </div>
                    <div class="my-2"> {{description}} </div>


                    {{#each attributes}}
                    <ul>
                        <li>
                            <div class="my-2"> <b>{{name}}</b> </div>
                            <div class="my-2"> {{description}} </div>
                        </li>
                    </ul>

                    {{/each}}

                </li>
            </ul>
            {{/each}}

            {{#each properties}}
            <ul>
                <li>
                    <div class="my-2 badge text-bg-secondary"> <b>{{name}}</b> </div>
                    <div class="my-2"> {{description}} </div>


                    {{#each values}}
                    <ul>
                        <li>
                            <div class="my-2"> <b>{{value}}</b> </div>
                            <div class="my-2"> {{description}} </div>
                        </li>
                    </ul>

                    {{/each}}

                </li>
            </ul>
            {{/each}}

            {{#each functions}}
            <ul>
                <li>
                    <div class="my-2 badge text-bg-secondary"> <b>{{name}}</b> </div>
                    <div class="my-2"> {{description}} </div>


                    {{#each parameters}}
                    <ul>
                        <li>
                            <div class="my-2 "> <b>{{name}}</b> </div>
                            <div class="my-2"> {{type}} </div>
                            <div class="my-2"> {{description}} </div>
                        </li>
                    </ul>

                    {{/each}}

                </li>
            </ul>
            {{/each}}

        </li>
    </ul>
    {{/each}}

    {{/with}}
</div>